:global(.box-wrapper) {
	background: no-repeat center center url('/public/background/shutterstock_323534993.png');
	text-align: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box_wrapper {
	background: no-repeat center center url('/public/background/shutterstock_256537057.png');
	text-align: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:global(.box-content) {
	max-width: 640px;
	width: 400px;
	border-radius: 16px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background-color: #fff;
	margin: 0px auto;
	padding: 65px 120px;
}
:global(.left) {
	float: left;
}

:global(.right) {
	float: right;
}
:global(.title) {
	font-size: 24px;
	color: #333333;
}
:global(.link) {
	text-decoration: none;
	font-size: 13px;
	color: #666;
}
:global(.errMsg) {
	font-size: 13px;
	color: red;
}
.box_content {
	text-align: center;
	max-width: 640px;
	width: 400px;
	margin: 0px auto;
	padding: 65px 120px;
}
.msg {
	font-size: 42px;
	color: #fff;
	margin: 28px 0;
	/* text-align: center; */
}
.user {
	color: #fff;
	top: 18px;
	position: absolute;
	right: 0px;
	padding: 20px 60px 15px 36px;
	border-radius: 50px 0 0 50px;
	background-color: #00ade3;
}
:global(.backBtn) {
	z-index: 1;
	cursor: pointer;
	position: absolute;
	top: 34px;
	left: 40px;
	padding: 12px;
	border-radius: 30px;
	background-color: #fff;
}
:global(.redirect) {
	text-align: center;
}
:global(.groupImg) {
	height: 250px;
	background: url('/public/background/Group\ 1060.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
